@media (max-width: 991px) {

    #price .form-price__input input,
    #price .form-price__submit button,
    #price .form-submit__description {
        width: 440px;
    }

    #price h2 {
        text-align: center;
    }

    #guarantees .guarantees-card__desctiption p br,
    #discount .discount-item__description p br,
    #working .working-item__description p br {
        display: none;
    }
}

@media (max-width: 880px) {
    header .header-wrap {
        flex-direction: column;
    }

    header .header-wrap__info p {
        display: block;
        text-align: center;
        right: 0;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    header .header-wrap__info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    header .header-wrap__opening {
        order: 1;
        margin-top: 15px;
    }

    header .header-wrap__logo {
        text-align: center;
    }
}

@media (max-width: 768px) {
    #guarantees .wrap-guarantees__card {
        margin-top: 25px;
    }

    #guarantees .guarantees-card__desctiption {
        margin-top: 20px;
    }
}

@media (max-width: 630px) {
    #price .form-price__input {
        flex-direction: column;
    }

    #price .form-price__input input {
        margin-left: 0px;
        margin-top: 15px;
        width: 100%;
    }

    #price .form-price__submit {
        flex-direction: column;
    }

    #price .form-submit__description {
        width: 100%;
        text-align: center;
    }

    #price .form-price__submit button {
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    #info .info-wrap__card {
        padding-left: 50px;
    }

    #info .info-card__title h1 {
        font-size: 32px;
    }

    #info .info-card__description p {
        font-size: 18px;
    }

    #info .info-advantages__item p {
        font-size: 16px;
    }

    .no-gutter>[class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 400px) {
    #info .info-wrap__card {
        padding-left: 25px;
    }
}

@media (max-width: 360px) {
    #info .info-card__title h1 {
        font-size: 29px;
    }
}