@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBlack';
    src: url('../fonts/ProximaNova-Black.eot');
    src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Black.woff') format('woff'),
        url('../fonts/ProximaNova-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaExtraBold';
    src: url('../fonts/ProximaNova-Extrabld.eot');
    src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
        url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'ProximaNovaBlack';
    text-align: center;
    font-size: 29px;
}

body {
    font-family: 'ProximaNovaRegular';
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    outline: none;
}

input {
    height: 70px;
    border: none;
    background-color: #f2f2f2;
    outline: none;
    padding-left: 30px;
    font-family: 'ProximaNovaRegular';
    text-transform: uppercase;
}
/* Fade Animation */
.fade {
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}
.container {
    max-width: 1170px;
}

.title-description {
    text-align: center;
    margin-top: 35px;
    font-size: 18px;
}

/* Section Header */
header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #191919;
    color: #fff;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrap__logo,
.header-wrap__opening,
.header-wrap__info {
    width: 370px;
}

.header-wrap__opening {
    width: 150px;
}

.header-wrap__opening p {
    font-size: 13px;
    line-height: 23px;
    font-family: 'ProximaNovaBold';
    text-align: center;
}

.header-wrap__opening p span {
    font-family: 'ProximaNovaRegular';
    font-size: 12px;
}

.header-wrap__info {
    text-align: right;
}

.header-wrap__info button {
    width: 170px;
    cursor: pointer;
    border: none;
    background-color: #1669b3;
    color: #fff;
    font-family: 'ProximaNovaBold';
    text-transform: uppercase;
    text-align: center;
    transition: all .1s;
    vertical-align: top;
    height: 50px;
}

.header-wrap__info button:hover {
    background: none;
    border: 2px solid #1669b3;
}

.header-wrap__info p {
    display: inline-block;
    text-align: right;
    font-family: 'ProximaNovaBlack';
    padding-top: 6px;
    position: relative;
    right: 28px;
}

/* Section Maon-info */
#info {
    min-height: 860px;
    background: url(../img/main-info/main-info__background.jpg) no-repeat center center;
    background-size: cover;
}

.info-wrap__card {
    background-color: #f7b516;
    color: #000000;
    height: 860px;
    padding-top: 100px;
    padding-left: 100px;
}

.info-card__title h1 {
    text-transform: uppercase;
    font-family: 'ProximaNovaBlack';
    font-size: 38px;
}

.info-card__description p {
    font-family: 'ProximaNovaExtraBold';
    margin-top: 47px;
    font-size: 24px;
}

.info-card__advantages {
    margin-top: 100px;
    font-family: 'ProximaNovaRegular';
}

.info-advantages__item {
    margin-top: 45px;
}

.info-advantages__item p {
    padding-left: 15px;
    display: inline-block;
    font-size: 18px;
}

.info-advantages__item:nth-child(1)::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 4px;
    background: url(../img/main-info/icon-1.png) no-repeat center center;
}

.info-advantages__item:nth-child(2)::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 4px;
    background: url(../img/main-info/icon-2.png) no-repeat center center;
}

.info-advantages__item:nth-child(3)::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 4px;
    background: url(../img/main-info/icon-3.png) no-repeat center center;
}

.info-advantages__item:nth-child(4)::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 4px;
    background: url(../img/main-info/icon-4.png) no-repeat center center;
}

/* Section Main-price */
#price {
    min-height: 500px;
    background: url(../img/main-price/main-price__background.png) no-repeat center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

#price h2 {
    text-align: right;
}

.wrap-price {
    margin-top: 60px;
}

.form-price__input {
    display: flex;
    justify-content: space-between;
}

.form-price__input input:nth-child(1) {
    margin-left: 0px;
}

.form-price__input input {
    width: 370px;
    margin-left: 30px;
}

.form-price__input input:nth-child(1) {
    background-image: url(../img/main-price/email-icon.png);
    background-repeat: no-repeat;
    background-position: center right 30px;
}

.form-price__input input:nth-child(2) {
    background-image: url(../img/main-price/phone-icon.png);
    background-repeat: no-repeat;
    background-position: center right 30px;
}

.form-price__submit {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.form-price__submit p {
    text-align: right;
    padding-top: 27px;
    display: inline-block;
    padding-right: 30px;
}

.form-price__submit button {
    width: 360px;
    margin-left: 30px;
    background-color: #1866af;
    border: none;
    text-transform: uppercase;
    color: #fff;
    height: 80px;
    font-family: 'ProximaNovaBold';
    cursor: pointer;
    transition: all .2s;
    font-size: 18px;
}

.form-price__submit button:hover {
    background: none;
    border: 2px solid #1866af;
    color: #000;
}

.form-submit__description {
    width: 360px;
    text-align: right;
}

.form-submit__description::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/main-price/clock-icon.png) no-repeat center center;
}

/* Section Advantages */
#advantages {
    background-color: #08243e;
    padding-top: 100px;
    padding-bottom: 100px;
}

#advantages h2,
#advantages p {
    color: #fff;
}

.wrap-advantages {
    margin-top: 100px;
}

.wrap-advantages__card {
    text-align: center;
    margin-top: 25px;
}

.advantages-card__description {
    margin-top: 50px;
}

.advantages-card__img {
    height: 100px;
}

/* Section Detail */
#detail {
    min-height: 580px;
    padding-top: 100px;
    background: url(../img/main-detail/main-detail__background.jpg) no-repeat center center;
    background-size: cover;
}

#detail h2,
.title-description p {
    color: #fff;
}

#detail .title-description {
    margin-top: 30px;
}

.wrap-detail {
    margin-top: 60px;
}

.wrap-detail input,
.wrap-detail button {
    width: 100%;
}

.wrap-detail .col-lg-4:nth-child(2) .wrap-detail__input input {
    background-image: url(../img/main-price/phone-icon.png);
    background-repeat: no-repeat;
    background-position: center right 30px;
}

.wrap-detail__button button {
    background-color: #f7b516;
    border: none;
    text-transform: uppercase;
    color: #fff;
    height: 70px;
    font-family: 'ProximaNovaBold';
    cursor: pointer;
    transition: all .2s;
    font-size: 18px;
}

.wrap-detail__button button:hover {
    background: none;
    border: 2px solid #f7b516;
    color: #fff;
}

.detail-description {
    text-align: center;
    color: #fff;
    margin-top: 57px;
}

.detail-desciption__number {
    margin-top: 30px;
}

.detail-desciption__number p span {
    font-family: 'ProximaNovaExtraBold';
    font-size: 32px;
    display: block;
    margin-top: 10px;
}

.wrap-detail__input,
.wrap-detail__button {
    margin-top: 15px;
}

/* Section Guarantees */
#guarantees {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff;
}

.wrap-guarantees {
    margin-top: 100px;
}

.wrap-guarantees__card {
    text-align: center;
}

.guarantees-card__img {
    height: 300px;
}

.wrap-guarantees .col-md-4:nth-child(1) .wrap-guarantees__card .guarantees-card__img img {
    background-color: #e1e1e1;
    padding: 15px;
    height: 300px;
    width: 230px;
}

.guarantees-card__desctiption {
    margin-top: 35px;
    font-family: 'ProximaNovaRegular';
}

.guarantees-card__link {
    text-transform: uppercase;
    margin-top: 25px;
}

.guarantees-card__link a {
    border-bottom: 1px solid #000;
    font-family: 'ProximaNovaBold';
}

/* Section Discount */
#discount {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #08243e;
}

#discount h2 {
    color: #fff;
}

.wrap-discount {
    margin-top: 100px;
}

.wrap-discount__item {
    text-align: center;
    margin-top: 25px;
}

.discount-item__img {
    display: flex;
    justify-content: center;
}

.discount-img {
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.discount-img span {
    align-self: center;
    color: #fff;
    font-family: 'ProximaNovaExtraBold';
    font-size: 24px;
}

.discount-img img {
    align-self: center;
}

.discount-item__description {
    color: #fff;
    margin-top: 35px;
}
/* Section Questions */
#questions {
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #0b3554;
}
.wrap-questions__image img {
    width: 100%;
}
.wrap-questions {
    margin-top: 100px;
}
.image-title {
    display: inline-block;
    background-color: rgb(11, 53, 84);
    opacity: 0.8;
    position: absolute;
    bottom: 25px;
    padding: 12px 30px 12px 19px;
}
.wrap-questions__item a {
    margin-left: 30px;
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: all .2s;
}
.wrap-questions__item a:hover {
    color: #579eff;
    border: none;
}
.wrap-questions__item {
    font-family: 'ProximaNovaBold';
    font-size: 18px;
    margin-top: 55px;
}
.wrap-questions__item:nth-child(1) {
    margin-top: 0px;
}
.more-questions {
    margin-top: 55px;
}
.more-questions p a {
    color: #fff;
    transition: all .2s;
    padding-left: 45px;
    text-decoration: underline;
}
.more-questions p a:hover {
    color: #579eff;
    text-decoration: none;
}
.more-questions p::before {
    content: '';
    display: inline-block;
    background: url(../img/main-questions/reload-icon.png) no-repeat center center;
    width: 18px;
    height: 20px;
    position: absolute;
}
.question-content {
    background-color: #fff;
    color: #000;
    font-family: 'ProximaNovaRegular';
    padding: 15px 15px 20px 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    width: 330px;
    font-size: 14px;
    position: absolute;
    margin-left: 30px;
    margin-top: 35px;
    display: none;
}
.question-content::before {
    border: 20px solid transparent;
    border-bottom: 20px solid #fff;
    content: '';
    position: absolute;
    top: -40px; 
}
.tooltip-close {
    float: right;
    cursor: pointer;
}
/* Section Working */
#working {
    padding-top: 100px;
    padding-bottom: 100px;
}

#working .title-description p {
    color: #000;
}

#working .title-description {
    margin-top: 25px;
}

.wrap-working__item {
    text-align: center;
}

.wrap-working {
    margin-top: 100px;
}

.working-item__description {
    margin-top: 50px;
}

.wrap-working__item {
    margin-top: 30px;
}

/* Section Stock */
#stock {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #0b3554;
}

#stock h2,
#stock .title-description p {
    color: #fff;
}

#stock .title-description {
    margin-top: 25px;
}

.stock-wrap {
    margin-top: 100px;
}

.owl-prev {
    position: absolute;
    top: 45%;
    left: 20px;
}

.owl-next {
    position: absolute;
    top: 45%;
    right: 20px;
}

/* Section Team */
#team {
    padding-top: 100px;
    padding-bottom: 100px;
}

.wrap-team__item {
    text-align: center;
    margin-top: 25px;
}

.team-item__img {
    display: flex;
    justify-content: center;
}

.wrap-team {
    margin-top: 100px;
}

.team-img {
    height: 170px;
    width: 170px;
    border: 5px solid #ffbc3b;
    border-radius: 50%;
}

.team-img img,
.team-img {
    align-self: center;
    display: flex;
    justify-content: center;
}

.team-item__description {
    margin-top: 38px;
}

/* Section Advice */
#advice {
    padding-top: 100px;
    min-height: 470px;
    background: url(../img/main-advice/main-advice__background.png) no-repeat center center;
    background-size: cover;
}

#advice h2 {
    color: #fff;
}

.title-telephone {
    text-align: center;
    color: #fff;
    margin-top: 65px;
}

.title-telephone p span {
    font-family: 'ProximaNovaBlack';
    font-size: 28px;
    display: block;
    margin-top: 10px;
}

.wrap-advice {
    margin-top: 45px;
}

.wrap-advice input,
.wrap-advice button {
    width: 100%;
}

.wrap-advice button {
    background-color: #f7b516;
    border: none;
    text-transform: uppercase;
    color: #fff;
    height: 70px;
    font-family: 'ProximaNovaBold';
    cursor: pointer;
    transition: all .2s;
    font-size: 18px;
}

.wrap-advice__button,
.wrap-advice__input {
    margin-top: 15px;
}

.wrap-advice button:hover {
    background: none;
    border: 2px solid #f7b516;
}

.wrap-advice input {
    background-image: url(../img/main-price/phone-icon.png);
    background-repeat: no-repeat;
    background-position: center right 30px;
}
/* Section Come */
#come {
    padding-top: 100px;
    min-height: 400px;
    background: url(../img/main-come/main-come__background.jpg) no-repeat center center;
    background-size: cover;
}
#come .title-description {
    margin-top: 100px;
}
#come .title-description p {
    color: #000;
}
#come .title-description p span {
    font-family: 'ProximaNovaBlack';
    font-size: 28px;
    display: block;
    margin-top: 20px;
}
/* Footer */
footer {
    min-height: 120px;
    background-color: #191919;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-wrap__info p {
    text-align: right;
    font-size: 16px;
}
.footer-wrap__info p span {
    font-family: 'ProximaNovaBlack';
    font-size: 21px;
}